*{
    margin: 0;
    padding:0;
}

body{
    height: 100vh;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(170,36,237);
    background: linear-gradient(0deg, rgba(170,36,237,1) 0%, rgba(190,83,226,1) 7%, rgba(221,135,236,1) 12%, rgba(213,161,217,1) 18%, rgba(23,15,225,1) 30%, rgba(45,225,15,0.8224088951987045) 47%, rgba(204,225,15,1) 63%, rgba(243,90,3,1) 80%, rgba(243,3,3,1) 87%, rgba(243,3,3,1) 87%);
}

.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.btn{
    /* height: 2em; */
    padding: 5px 15px;
    border: none ;
    border: 1px black solid;
    border-radius: 20px;
}

.btn:hover{
    border: 1px solid rgb(216, 11, 11);
}

.btn:active{
    border: 1px solid green;
}


@media screen and (orientation: portrait) {
    .main{
        font-size: 30px;
    }
    .btn{
        padding: 15px 30px;
        border-radius: 30px;
    }
}
