*{
    margin: 0;
    padding:0;
}

body{
    height: 100vh;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.btn{
    /* height: 2em; */
    padding: 5px 15px;
    border: none ;
    border: 1px black solid;
    border-radius: 20px;
}

@media screen and (orientation: portrait) {
    .main{
        font-size: 30px;
    }
    .btn{
        padding: 15px 30px;
        border-radius: 30px;
    }
}
